* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

.sidebar {
    width: 350px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(252, 220, 161, 0.419);
    position: fixed;
    color: rgba(41, 50, 80, 0.979);
    z-index: 1;
    overflow-x: hidden;
}

.logo {
    height: 70px;
    background-color: orange;
    padding: 7px 20px;
    display: block;
}

h3 {
    padding: 20px;
}

.navbar {
    border-bottom: 2px solid rgba(128, 128, 128, 0.463);
    padding-bottom: 10px;
}

.nav-icon {
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

.nav-icon:hover {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: white;
}

.active {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: white;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.nav-icon i {
    font-size: larger;
    padding-right: 10px;
}

.nav-icon {
    color: rgba(41, 50, 80, 0.979);
}

.main {
    margin-left: 350px;
}

.main nav {
    height: 70px;
    background-color: rgba(252, 220, 161, 0.419);
}

.main nav ul {
    display: flex;
    justify-content: end;
    gap: 20px;
    align-items: center;
}

.dropbtn {
    color: rgba(41, 50, 80, 0.979);
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 200px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.dropbtn img {
    width: 50px;
    border-radius: 10px;
}

.notifications {
    position: relative;
    height: 50px;
    width: 50px;
}

.notifications div {
    height: 20px;
    width: 20px;
    background-color: red;
    position: absolute;
    border-radius: 50px;
    color: #fff;
    text-align: center;
}

.notifications i {
    font-size: 2rem;
    color: rgba(41, 50, 80, 0.979);
    padding: 7px 0;
}

#form {
    padding: 0 15px;
    font-size: 16px;
}

.input-form {
    padding: 10px 0;
}

.input-form input {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid rgba(41, 50, 80, 0.979);
    margin-top: 10px;
}

.input-form textarea {
    width: 300px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
}

#image {
    border: none;
}

.input-form select {
    width: 190px;
    height: 30px;
    border-radius: 10px;
    font-size: 16px;
    margin-left: 20px;
    padding: 0 10px;
}

#form button {
    width: 300px;
    height: 40px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: orange;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
}

.form-search {
    width: 97%;
    /* height: 110px; */
    background-color: rgba(252, 220, 161, 0.419);
    margin: 50px auto 0;
    padding-bottom: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid rgba(252, 220, 161, 0.419);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-search p {
    font-size: larger;
    padding-left: 30px;
    padding-top: 5px;
    color: rgba(41, 50, 80, 0.979);
}

.form-search div {
    width: 97%;
    background-color: #fff;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
}

.form-search div input {
    height: 45px;
    width: 83%;
    margin: 5px 30px;
    font-size: 1.2rem;
    border: none;
    outline: none;
}

.form-search div button {
    width: 120px ;
    color: #fff;
    background-color: orange;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-search div button:active {
    transform: scale(0.9);
}

.table {
    width: 97%;
    background-color: rgba(252, 220, 161, 0.419);
    margin: 0 auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid rgba(252, 220, 161, 0.419);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: rgba(41, 50, 80, 0.979);
    margin-bottom: 20px;
    padding: 20px;
}

table {
    margin: 0 auto;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.308);
    border-collapse: collapse;
    font-size: 0.9rem;
    background-color: #fff;
}

table th {
    padding: 20px;
}

table td {
    text-align: center;
    padding: 10px;
}

#list button {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    color: #fff;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

tbody tr button:active {
    transform: scale(0.9);
}

/* Pagination links */
.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: .3s;
}

/* Style the active/current link */
.pagination a.active {
    border: 1px solid orange;
    background-color: orange;
    color: white;
    border-radius: 10px;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 10px;
}

.pagination {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: end;
    margin-right: 30px;
}

.detailinfo {
    padding: 15px;
    line-height: 1.8;
}

.info-user {
    font-size: larger;
    font-weight: 600;
}

.orderinfo {
    margin: 0 auto;
    width: 65%;
}

.not_click {
    display: none;
}

bor